<launch>
  <param name="lastImageLoc" value="/home/gene/catkin_ws/src/rover_platform/mapImage.png" />
  <param name="lastCamImageLoc" value="/home/gene/catkin_ws/src/rover_platform/camImage.png" />
  <param name="epsilon" value="1.0" />

  <node pkg="rover_platform" name="projMapToImage" type="projMapToImage" output="screen">
  </node>

  <node pkg="rover_platform" name="subsumptionCtrl" type="subsumptionCtrl" output="screen" />
  <node pkg="rover_platform" name="blackboardServer" type="blackboardServer" output="screen" />
  <node pkg="rover_platform" name="frontierExploration" type="frontierExploration" output="screen" />


</launch>
