.CreateSensors {

}

.CreateSensors .sensor {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 100%;
    position: absolute;
}

.CreateSensors .sensor.on {
    background-color: orange !important;
}

.CreateSensors .LightSensors .leftSensor {
    top: 80px;
    left: 60px;
}

.CreateSensors .LightSensors .leftFrontSensor {
    top: 45px;
    left: 100px;
}

.CreateSensors .LightSensors .leftCenterSensor {
    top: 25px;
    left: 153px;
}

.CreateSensors .LightSensors .rightCenterSensor {
    top: 25px;
    left: 200px;
}

.CreateSensors .LightSensors .rightFrontSensor {
    top: 45px;
    left: 250px;
}

.CreateSensors .LightSensors .rightSensor {
    top: 80px;
    left: 292px;
}

.CreateSensors .Bumpers {}

.CreateSensors .Bumpers .bumperSensor {
    width: 40px;
    height: 20px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
}

.CreateSensors .Bumpers .bumperSensor.on {
    background-color: orange !important;
}

.CreateSensors .bumperSensor.left {
    top: 85px;
    left: 120px;
}

.CreateSensors .bumperSensor.right {
    top: 85px;
    left: 219px;
}

.CreateSensors .Create {
    margin: 0 auto;
    width: 250px;
    height: 250px;
    border: 2px solid white;
    border-radius: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.CreateSensors .Create .left-wheel {
    width: 20px;
    height: 50px;
    position: relative;
    background-color: white;
    top: 98px;
    left: 30px;
}

.CreateSensors .Create .center-ring {
    margin: 0 auto;
    width: 90px;
    height: 90px;
    border: 2px solid white;
    border-radius: 100%;
    position: relative;
    top: 25px;
}

.CreateSensors .Create .right-wheel {
    width: 20px;
    height: 50px;
    position: relative;
    background-color: white;
    top: -46px;
    left: 200px;
}



